PyYAML>=5.3.1
pandas>=1.2.2
numpy>=1.20.0
matplotlib>=3.3.3
aiohttp>=3.7.3
apscheduler>=3.6.3
pymongo>=3.11.2
motor>=2.3.0
websocket-client>=0.57.0

certifi>=2020.12.5
cffi>=1.14.4
chardet
cryptography>=3.2.1
DateTime>=4.3
idna>=2.10
pyjwt>=2.0.1
pycparser>=2.20
python-dateutil>=2.8.1
pytz>=2020.5
requests>=2.25.1
six>=1.15.0
urllib3>=1.26.3
websockets>=8.1
zope.interface>=5.2.0


