
pandas==1.2.2
numpy==1.20.0
matplotlib==3.3.3
pymongo==3.11.2
schedule==0.6.0
websocket-client==0.57.0


asyncmongo
aiohttp==3.7.3
apscheduler

certifi==2020.12.5
cffi==1.14.4
chardet
cryptography==3.2.1
DateTime==4.3
idna==2.10
jwt==1.1.0
pycparser==2.20
python-dateutil==2.8.1
pytz==2020.5
requests==2.25.1
six==1.15.0
urllib3==1.26.3
websockets==8.1
zope.interface==5.2.0


